{% extends 'base.html.twig' %}

{% block title %}user profile{% endblock %}

{% block body %}
    <h1>user profile</h1>

    {{ form_start(userForm) }}<br/>
    {{ form_row(userForm.username) }}<br/>
    {{ form_row(userForm.registered_at)}}<br/>
    <button type="submit" class="btn">edit</button><br/>
    {{ form_end(userForm) }}
    <a href="{{ path('user_bonuses') }}">bonuses</a><br/>
    <a href="{{ path('user_campaigns') }}">campaigns</a>
{% endblock %}
